@page "/adddata"
@using BlazorApp.Shared
@inject HttpClient Http
@inject NavigationManager _navigationManager

<EditForm Model="@Model" OnSubmit="@Submit">
    <InputText Placeholder="Contact Name" @bind-Value="Model!.ContactName" />
    <InputText Placeholder="Company Name" @bind-Value="Model!.CompanyName" />
    <InputText Placeholder="PostalCode" @bind-Value="Model!.PostalCode" />
    <InputText Placeholder="Address" @bind-Value="Model!.Address" />
    <InputText Placeholder="City" @bind-Value="Model!.City" />
    <InputText Placeholder="Region" @bind-Value="Model!.Region" />
    <InputText Placeholder="Phone" @bind-Value="Model!.Phone" />
    <InputText Placeholder="Country"  @bind-Value="Model!.Country" />
    <button type="submit">Submit</button>
</EditForm>

@code {
    public Customer? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private async Task Submit()
    {
        Model.Id = Guid.NewGuid();
        await Http.PostAsJsonAsync<Customer>("Customers/Add", Model);


        _navigationManager.NavigateTo($"fetchdata", forceLoad: true);
    }


}